.App {
  text-align: center;
  /* background-color: red; */
  max-width: 554px;
  height: max(100vh, auto);
  margin: 0 auto;
  /* border: 1px solid #282c34; */
  background-image: url('./assets/images/bg1.png');
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

.test-container {
  display: flex;
  justify-content: space-evenly;
}

.test {
  width: 50px;
  height: 50px;
  background-color: #0039d7;
}

/* CSS */
button {
  appearance: button;
  background-color: #3466e4;
  border: 1px solid #3466e4;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 1.15;
  overflow: visible;
  padding: 7px 16px;
  margin: 2px 5px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

button:disabled {
  opacity: 0.5;
}

button:focus {
  outline: 0;
}

button:hover {
  background-color: #0a46e4;
  border-color: #0a46e4;
}

button:active {
  background-color: #0039d7;
  border-color: #0039d7;
}

/* CSS */
.button1 {
  appearance: button;
  background-color: #7996e0;
  border: 1px solid #5177d6;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  margin: 5px 5px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button1:disabled {
  opacity: 0.5;
}

.button1:focus {
  outline: 0;
}

.button1:hover {
  background-color: #4f70c4;
  border-color: #4f70c4;
}

.button1:active {
  background-color: #4f70c4;
  border-color: #4f70c4;
}

/* CSS */
.button2 {
  appearance: button;
  background-color: #51d677;
  border: 1px solid #66e434;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-family: Graphik, -apple-system, system-ui, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  margin: 5px 5px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button2:disabled {
  opacity: 0.5;
}

.button2:focus {
  outline: 0;
}

.button2:hover {
  background-color: #51d677;
  border-color: #51d677;
}

.button2:active {
  background-color: #51d677;
  border-color: #51d677;
}

a {
  /* text-decoration: none; */
  margin: 10px 5px;
}

a:visited {
  color: black;
}

.markercluster-map {
  height: 100vh;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  text-align: center;
}

.popup p {
  margin-top: 0;
}

.popup button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #4286f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button.close {
  margin-top: 20px;
  background-color: #ff5959;
}

.creature {
  width: 200px;
  height: auto;
}

.creature.jiggle {
  animation: jiggle 0.5s linear;
}

@keyframes jiggle1 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  20% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  30% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  40% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  60% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  70% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  80% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  90% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes jiggle {
  0% {
    transform: translate(0px, 0px);
  }
  /* 10% {
    transform: translate(-5px, -5px);
  }
  20% {
    transform: translate(5px, 5px);
  } */
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  /* 50% {
    transform: translate(-5px, -5px);
  }
  60% {
    transform: translate(5px, 5px);
  } */
  70% {
    transform: translate(-5px, -5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  /* 90% {
    transform: translate(-5px, -5px);
  } */
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
