.App {
  text-align: center;
  max-width: 554px;
  height: max(100vh, auto);
  margin: 0 auto;
  min-height: 100vh;
  position: relative;
}

html {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

/* ----------- */

.container {
  /* background: rgba(0, 0, 0, 0.2); */
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leave {
  width: 4.93rem;
  height: 1.875rem;
  font-size: 0.9375rem;
  background-color: #c4c684;
  color: white;
  /* padding: 0.5rem 1rem; */
  /* border: 1px solid black; */
  border: none;
  border-radius: 0.315rem;
  margin: 1rem 0;
}

.creature {
  width: 60%;
  max-height: 50%;
  object-fit: contain;
}

.header {
  font-size: 1.875rem;
  text-align: center;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}

.mc-select-button {
  width: 9.7rem;
  height: 2.75rem;
  font-size: 1.125rem;
  /* padding: 1rem 2rem; */
  background-color: #5778cb;
  color: white;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.mc-correct {
  background-color: #54eb7e;
  color: white;
}

.mc-wrong {
  background-color: #cb5757;
  color: white;
}

.reveal {
  font-size: 1.125rem;
}

.spotimg {
  width: 100px;
  height: 100px;
}

/*  */

.yesno-btn {
  width: 11.7rem;
  height: 2.75rem;
  font-size: 0.9rem;
  /* padding: 1rem 2rem; */
  color: white;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.yes-btn {
  background-color: #5778cb;
}

.no-btn {
  background-color: #cb5757;
}

.yesno-btn:disabled {
  opacity: 0.5;
}

.next-btn {
  width: 5.7rem;
  height: 2.225rem;
  font-size: 0.9rem;
  background-color: #55e368;
  color: white;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}
/* ------------------------ */

.popup {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background-color: #f5fbfd;
  padding: 20px;
  width: min(70vw, calc(0.7 * 554px));
  box-shadow: 0px 4px 4px 0px #00000040;
  border-radius: 0.625rem;
  text-align: center;
  z-index: 99999999;

  font-size: 1.25rem;
}

.popup p {
  margin-top: 0;
}

.popup button {
  font-size: 1rem;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  background-color: #6f88c8;
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
}

.popup button.close {
  margin-top: 20px;
  background-color: #e74141;
}

.popup button.stay {
  margin-top: 20px;
  background-color: #bcbcbc;
}

.popup button:disabled {
  background-color: #bfbfbf;
}

/* ------------------------ */
.battle-creature {
  width: 200px;
  height: auto;
}

.battle-creature.jiggle {
  animation: jiggle 0.2s linear;
}

/* ----------Map---------- */
.town-header {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.icon-map {
  width: 7rem;
  object-fit: contain;
}

.arrow {
  position: absolute;
  top: 65vh;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

/* --------Back------- */

.back-image {
  position: absolute;
  top: 10vh;
  left: 1vh;
}

/* ----Location------ */

/* ----Profile----- */

.profile-header {
  color: #676767;
  font-size: 1rem;
}

.profile-image {
  width: 12rem;
  max-height: 50%;
  object-fit: contain;
}

.upgrade-btn {
  background-color: #c4c684;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  width: 5.1875rem;
  height: 1.5625rem;
  border: none;
  border-radius: 0.3125rem;
}

.circle {
  width: 1.6875rem;
  height: 1.6875rem;
  border-radius: 50%;
  background-color: #c0c4da;
  color: #5375a9;
  font-size: 0.75rem;
  font-weight: 700;
  text-align: center;
  line-height: 1.6875rem; /* same as the height */
}

/* ---------------------------- */
/* Layout */

.d-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.d-flex {
  display: flex;
}

.d-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: start;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 1rem;
}

.x-center {
  margin: 0 auto;
}

.f-12 {
  font-size: 0.85rem;
}

.px-1 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.py-1 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* ---------------------------- */

table {
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

th,
td {
  text-align: left;
}

td {
  position: relative;
}

/* Anim */
@keyframes jiggle1 {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  10% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  20% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  30% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  40% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  50% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  60% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  70% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  80% {
    transform: translate(5px, 5px) rotate(10deg);
  }
  90% {
    transform: translate(-5px, -5px) rotate(-10deg);
  }
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}

@keyframes jiggle {
  0% {
    transform: translate(0px, 0px);
  }
  /* 10% {
      transform: translate(-5px, -5px);
    }
    20% {
      transform: translate(5px, 5px);
    } */
  30% {
    transform: translate(-5px, -5px);
  }
  40% {
    transform: translate(5px, 5px);
  }
  /* 50% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    } */
  70% {
    transform: translate(-5px, -5px);
  }
  80% {
    transform: translate(5px, 5px);
  }
  /* 90% {
      transform: translate(-5px, -5px);
    } */
  100% {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
