html {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #000;
}

.header {
  font-size: 1.875rem;
  text-align: center;
  /* margin-top: 2rem; */
  margin-bottom: 1rem;
}

.yesno-btn {
  width: 11.7rem;
  height: 2.75rem;
  font-size: 0.9rem;
  /* padding: 1rem 2rem; */
  color: white;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.yes-btn {
  background-color: #5778cb;
}

.no-btn {
  background-color: #cb5757;
}

.yesno-btn:disabled {
  opacity: 0.5;
}

.next-btn {
  width: 5.7rem;
  height: 2.225rem;
  font-size: 0.9rem;
  background-color: #55e368;
  color: white;
  border: none;
  border-radius: 0.625rem;
  margin-bottom: 1rem;
  box-shadow: 0px 4px 4px 0px #00000040;
}
