.upgrade-line {
  font-size: 0.85rem;
  display: grid;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 1rem;
  padding-right: 1rem;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* gap: 2rem; */
  margin-bottom: 1rem;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.current-value {
  color: #5b5b5b;
  font-weight: 700;
}

.new-value {
  color: #4bae61;
  font-weight: 700;
}

.upgrade-col-1 {
  text-align: left;
}

.upgrade-btn-action {
  background-color: #4bae61;
  color: #ffffff;
  font-weight: 600;
  height: 1.5rem;
  border: none;
  /* box-shadow: 0px 0.25rem 0.25rem 0rem #00000040; */
  border-radius: 0.3125rem;
  padding: 0.2rem 0.5rem;
}

.upgrade-btn-action:disabled {
  background-color: #d6ddd770;
  color: rgb(123, 123, 123);
  box-shadow: none;
}

.upgrade-btn-action:active {
  background-color: rgb(48, 112, 50);
  box-shadow: 0 5px #666;
  transform: translateY(0.1rem);
}
